<!-- menú de navegación -->
<%= render 'shared/navbarmenus' %>
<div class="jumbotron"><h3>Mantenedor de Menus</h3></div>
<%= form_with(model: menu, local: true) do |form| %>
  <% if notice.present? %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert" id="notice">
      <%= notice %>
    </div>
  <% end %>
  <div class="container">    
    <div class="row">
      <div class="col-sm-6 col-md-4">
       <!-- CARRUSEL DE PRODUCTOS-->
        <% unless @cook.first.nil? %>
          <div class="wrapper">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">

                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

                <% @menus.each_with_index do |menu,index| %>

                   <li data-target="#carouselExampleIndicators" data-slide-to="<%= index + 1 %>"></li>
                <% end %>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <a href="<%= new_menu_path %>">
                    <%= image_tag "thumb_default_menu.png",class:"w-100", style:"border-radius: 5%"%>
                    <div class="carousel-caption">
                      <h3>Nuevo Menu</h3>
                    </div>
                  </a>
                </div>
                <% @menus.each_with_index do |menu,index| %>
                    <div class="carousel-item">
                      <a href="<%= edit_menu_path(menu) %>">
                        <%= image_tag menu.picture.thumb ,class:"w-100", style:"border-radius: 5%" %>
                      <div class="carousel-caption">
                          <h3><%= menu.name %></h3>
                      </div>
                      </a>
                    </div>  
                <% end %>
              </div> 
              <!-- BOTONES CARRUSEL-->
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
            </div>
          </div> 
        <% end %>
       <!-- -->
      </div>
      <div class="col-sm-6 col-md-8">
        <form>
          <div  class="form-group">
            <div class="row">
              <div class="col-12">
                <div class="field">
                  <%= form.label :name, "Nombre del plato principal" %><br>
                  <%= form.text_field :name, id: :menu_name, class: "form-control form-control-lg", autofocus: true, required: true%>
                </div>

                <div class="field">
                  <%= form.label :description, "Cuentanos detalles de tu Plato" %>
                  <%= form.text_area :description, id: :menu_description, placeholder:'Detalles completo de este menú...Preparación, Postre, Bebida, Etc', class: "form-control form-control-lg" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="field">
                  <%= form.label :picture, "Pudes poner su foto" %>
                  <%= form.file_field :picture, id: :menu_picture, class: "form-control-file" %>
                </div>
              </div>
              <div class="col-sm">
                <div class="field">
                  <%= form.label :price, "Precio del Plato $" %>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <%= form.number_field :price, min: 1, required: true, id: :menu_price, placeholder:'$0', class: "form-control form-control-lg" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="field">
                  <%= form.label :date, "Fecha de Venta" %><br>
                  <%= form.date_select :date, id: :menu_date%>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm">
                <div class="actions">
                    <% unless @menu.id.nil? %>
                    <%= form.submit 'EDITAR', class: "btn btn-success btn-block" %>
                    <% else %>
                    <%= form.submit 'GUARDAR', class: "btn btn-success btn-block" %>
                    <% end %>
                </div><br>
              </div>
              <div class="col-sm">
                <% unless @menu.id.nil? %>
                  <%= link_to 'Eliminar Este Menú', menu,  method: :delete, data: { confirm: 'Seguro de Eliminar Menú?' },  class: "btn btn-danger btn-block" %><br>
                <% end %>
              </div>
              <div class="col-sm">
                <%= link_to 'Nuevo Menú', new_menu_path,  class: "btn btn-outline-primary btn-block" %>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>

<script>
  $('.carousel').carousel({
    interval: 0
  })
</script>

