<!-- menú de navegación -->
<%= render 'shared/navbarmenus' %>
<div class="jumbotron mt-5"><h3>Mantenedor de Menus</h3></div>
<div class="container">
  <%= form_with(model: menu, local: true) do |form| %>
    <div class="formulario_menu">
      <div class="row">
        <div class="col-12">
          <div class="field">
            <%= form.label :name, "Nombre del plato principal" %>
            <%= form.text_field :name, id: :menu_name, maxlength: 30, class: "form-control form-control-lg", autofocus: true, required: true%>
          </div>
          <div class="field">
            <%= form.label :description, "Cuentanos detalles de tu Plato" %>
            <%= form.text_area :description, id: :menu_description, placeholder:'Detalles completo de este menú...Preparación, Postre, Bebida, Etc', maxlength: 350, class: "form-control form-control-lg" %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm">
          <div class="field">
            <% if params[:action]=="edit" %>
             <%= image_tag menu.picture.thumb, size:"50x50" %>
            <% end %>
            <%= form.label :picture, "Pudes poner su foto" %>
            <%= form.file_field :picture, id: :menu_picture, class: "form-control-file" %>
          </div>
        </div>

        <div class="col-sm">
          <div class="field">
            <%= form.label :price, "Precio del Plato $" %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= form.number_field :price, min: 1, max: 9999, required: true, id: :menu_price, placeholder:'$0', class: "form-control form-control-lg" %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="field">
            <%= form.label :date, "Fecha de Venta" %><br>
            <%= form.date_select :date, id: :menu_date %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm">
         <div class="actions">
          <% unless @menu.id.nil? %>
            <%= form.submit 'EDITAR', class: "btn btn-success btn-block" %>
           <% else %>
            <%= form.submit 'GUARDAR', class: "btn btn-success btn-block" %>
          <% end %>
          </div><br>
          </div>
        <div class="col-sm">
          <% unless @menu.id.nil? %>
            <%= link_to 'Eliminar Este Menú', menu,  method: :delete, data: { confirm: 'Seguro de Eliminar Menú?' },  class: "btn btn-danger btn-block" %><br>
          <% end %>
        </div>
        <div class="col-sm">
          <%= link_to 'Nuevo Menú', new_menu_path,  class: "btn btn-outline-primary btn-block" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<footer>
  <p></p>
</footer>
