<!-- menú de navegación -->
<%= render 'shared/navbarmenus' %>

<div class="jumbotron"><h3>Mantenedor de Menus</h3></div>
<div class="cuerpo_menus">

  <% if notice.present? %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert" id="notice">
      <%= notice %>
    </div>
  <% end %>

  <%= form_with(model: menu, local: true) do |form| %>

  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-8">
      <form>
        <div  class="form-group">
            <div class="row">
              <div class="col-12">
                  <div class="field">
                    <%= form.label :name, "Nombre del plato principal" %><br>
                    <%= form.text_field :name, id: :menu_name, class: "form-control form-control-lg", autofocus: true, required: true%>
                  </div>

                  <div class="field">
                    <%= form.label :description, "Cuentanos detalles de tu Plato" %>
                    <%= form.text_area :description, id: :menu_description, placeholder:'Detalles completo de este menú...Preparación, Postre, Bebida, Etc', class: "form-control form-control-lg" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <div class="field">
                    <%= form.label :picture, "Pudes poner su foto" %>
                    <%= form.file_field :picture, id: :menu_picture, class: "form-control-file" %>
                  </div>
                  </div>
                  <div class="col-sm">
                    <div class="field">
                      <%= form.label :price, "Precio del Plato $" %>
                      <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <%= form.number_field :price, min: 1, required: true, id: :menu_price, placeholder:'$0', class: "form-control form-control-lg" %>
                    </div>
                    </div>
                  </div>
                  <div class="col-sm">
                  <div class="field">
                    <%= form.label :date, "Fecha de Venta" %><br>
                    <%= form.date_select :date, id: :menu_date %>
                  </div>
                  </div>
              </div>
                <br>
              <div class="row">
                <div class="col-sm">
                  <div class="actions">
                    <%= form.submit 'Guardar', class: "btn btn-success btn-block" %>
                  </div>
                </div>
              <div class="col-sm">
                <% unless @menu.id.nil? %>
                  <%= link_to 'Eliminar Este Menú', menu,  method: :delete, data: { confirm: 'Seguro de Eliminar Menú?' },  class: "btn btn-danger btn-block" %>
                <% end %>
              </div>
              <div class="col-sm">
                <%= link_to 'Nuevo Menú', new_menu_path,  class: "btn btn-outline-primary btn-block" %>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-4">
        <% unless @cook.first.nil? %>
          <h3> Platos Creados:</h3>
          <ul>
                  <% @menus.each do |menu| %>
                    <li>
                      <%= menu.name %>
                      <p>
                      <a href="<%= edit_menu_path(menu) %>">
                        <%= image_tag menu.picture.thumb ,class:"menu-img-sm" %>
                      </a>
                      </p>
                    </li>
                  <% end %>
          </ul>  
          
        <% else %>
          <h1>NO ESTAS CREADO COMO COOKs</h1>
        <% end %>
      <% end %>
    </div>
  </div>
</div>