<%= render 'shared/navbarmenus' %>
<% unless @cook.first.nil? %>
  <div class="jumbotron mt-5"><h3>Bienvenido: <%=@cook.first.name%> </h3></div>
<% end %>
<!-- date_time_picker -->

<div class="container">
    <div class="row">
        <div class='col-sm-12'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' name="q" class="form-control" autofocus
                      value="<%= (@fecha.strftime('%d/%m/%Y')) if params[:query].present? == false %>"
                    >
                    <span class="input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
      </div>
  </div>
<!--  *******************-->
<!--  SEARCH -->
<div class="container">
    <div class="row">
        <div class='col-sm-12'>
          <div class='form-group'>
            <form action="<%= menus_path %>" method="GET">
              <input type="submit" class="form-control btn btn-primary" value="Ver Todos">
              <input type="text" class="form-control" name="query" value="all" style="visibility:hidden" >
            </form>
          </div>
        </div>
    </div>
</div>
<!--  ARROWS -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <a href="<%= menus_path('left') %>">
        <div class="btn btn-warning btn-block">
          <i class="fa fa-arrow-circle-o-left" aria-hidden="true" style="color:white;"></i>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="<%=  menus_path('to_day')%>">
        <div class="btn btn-success btn-block">
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="<%=  menus_path('right')%>">
        <div class="btn btn-danger btn-block">
          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </a>
    </div>
  </div>
</div>
<!---ARROWS----->
<!-- TARJETAS DE STOCK -->
<div class="container" id ="list_menu">
  <hr>
  <%= render 'list_menu' %>
</div>
<!--  -->

<div class="container">
  <%= link_to 'New Menu', new_menu_path %> <br>
  <%= link_to 'Home', root_path%>
</div>
<!--  *******************-->


        <script>
          $(function () {
            $('#datetimepicker1').datetimepicker({
              format: 'DD/MM/YYYY',
              icons: {
                   time: 'fa fa-clock-o',
                   date: 'fa fa-calendar',
                   up: 'fa fa-chevron-up',
                   down: 'fa fa-chevron-down',
                   previous: 'fa fa-chevron-left',
                   next: 'fa fa-chevron-right',
                   today: 'fa fa-calendar-check-o',
                   clear: 'fa fa-trash-o',
                   close: 'fa fa-close'
              },
    					widgetPositioning:{
    						horizontal: 'auto',
    						vertical: 'bottom'
    					},
      	    });
            $("#datetimepicker1").on("dp.change", function (e) {
              $.ajax({
                url: '<%= menus_path %>',
                type: 'GET',
                dataType: 'script',
                data: {q: $(this).val()}
              })
              .done(function() {
                console.log("success");
              })
              .fail(function() {
                console.log("error");
              })
              .always(function() {
                console.log("complete");
              });

            });
          });
        </script>
<!-- -->
