<!-- menú de navegación -->
<%= render 'shared/navbar' %>
<div class="container">
	<p id="notice"><%= notice %></p>
	<h1 class="jumbotron"><%= @cook.name %></h1>
	<div class="row">
		<section class="cook col-12 col-sm-12 col-md-6 col-lg-6">
			<%= image_tag @cook.picture, size:"32X32", class: 'card-img-top img-fluid' %>
			<div class="card cook">
			  <div class="card-body">
			    <h4 class="card-title"><%= @cook.name%></h4>
			    <p class="card-text"><%= @cook.biography %></p>
			    <p> <%= @cook.address_commune %></p>
			    <p> <%= @cook.address_region %></p>
			  </div>
			</div>
		</section>

		<section class="menus col-12 col-sm-12 col-md-6 col-lg-6">
			<div class="row container">
				<%= @menus.each_slice(2) do |row|  %>
					<% row.each do |menu| %>
						<div class="col-md-6">
							<div class="card-deck">
								<div class="card">
									<%= image_tag menu.picture.thumb, class: 'card-img-top img-fluid' %>
									<div class="card-body">
									<h6><%= menu.name %></h6>
									<p><%= "$ " + menu.price.to_s %><p>
									<p class="card-text"><%= menu.description %></p>
									<%= link_to "Reservar",  menu_orders_path(menu), method: :post, class: "btn btn-success" %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			<div class="w-100" style="margin-top: 20px"></div>
			<% end %>
			</div>
		</section>
	</div>

	<div class="row">
		<div class="col-12 col-sm-12 col-md-6 col-lg-6">
			<legend>Comentar:</legend>
			<div id="star"></div>
			<%= form_with(model: [@cook, Comment.new], local: true, html: { class: 'form-horizontal' }) do |f| %>
				<div class="form-group">
						<%= f.text_area :content, placeholder: 'Escribe tu comentario aquí...', class: 'form-control' %>
				</div>
				<%= f.submit 'Comentar', class: 'btn btn-primary' %>
			<% end %>
		</div>
		<div class="col-12 col-sm-12 col-md-6 col-lg-6">
			<% counter = 0 %>
			<% @cook.comments.each do |comment| %>
			<div class="card">
				<div class="card-body">
					#<%= counter += 1 %>
					<strong><%= comment.user.name %>:</strong>
					<br>
					<%= comment.content %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
