<!-- menú de navegación -->
<%= render 'shared/navbar' %>

<section class="container pt-5">
	<!--  TOTAL DE ORDEN -->
	<div class="row">
		<div class="offset-md-8 col-md-4">
			<div class="score">
				<p>$1.500</p>
			</div>
		</div>
	</div>
	<!--  *************************-->
	<!-- Datos cocinero -->
	<div class="row jumbotron">
		<div class="col-12 col-sm-12 col-md-4">
			<%= image_tag @cook.picture, size:"32X32", class: 'card-img-top img-fluid' %>
		</div>
		<div class="col-12 col-sm-12 col-md-8">
			<h5><%= @cook.name %></h5>
			<p><%= @cook.biography %></p>
		</div>
	</div>

	<div class="row">
		<!-- Listado menú -->
		<div class="menus col-12 col-sm-12 col-md-8 col-lg-8">
			<div class="row">
				<% @menus.each do |menu|  %>
						<div class="col-12 col-sm-12 col-md-6 col-lg-4">
							<div class="card-deck">
								<div class="card">
									<%= image_tag menu.picture.thumb, class: 'card-img-top img-fluid' %>
									<div class="card-body">
									<h6><%= menu.name %></h6>
									<p><%= "$ " + menu.price.to_s %><p>
									<p class="card-text"><%= menu.description %></p>
									<%= link_to "Reservar",  menu_orders_path(menu), method: :post, class: "btn btn-success" %>
								</div>
							</div>
						</div>
					</div>
			<% end %>
			</div>
		</div>

		<!-- Comentarios -->
		<div class="cook col-12 col-sm-12 col-md-4 col-lg-4">
				<div id="comments-box">
					<h4 class="pt-2">Comentarios</h4>
					<% @cook.comments.last(8).map do |comment| %>
					<div class="card">
						<div class="card-body">
							<p><%= comment.content %></p>
							<p class="comment-rating" data-score="<%= comment.rating %>"><%= comment.user.name %> - </p>
						</div>
					</div>
					<% end %>
				</div>
				<div class="card border-info mb-3">
					<div class="body">
						<div class="container pt-3 pb-3">
							<%= render "comments/form" %>
						</div>
					</div>
				</div>
		</div>
	</div>
</section>
