<%= render 'shared/navbar' %>
<section class="container formulario_menu mt-5">
  <!-- Datos cocinero -->
  <% unless @cook.nil? %>
  <table class="table">
    <thead>
      <tr>
        <td><div class="badge badge-info">Cocinero:</div> <%= @cook.name %> </td>
        <td rowspan="2"><%= image_tag current_user.picture.thumb, size:"70x70", class: "rounded mx-auto d-block" %></td>
        <td><div class="badge badge-info">Telefono:</div> <%= @cook.phone %></td>
      </tr>
      <tr>
        <td><div class="badge badge-info">E-Mail:</div> <%= @cook.email %></td> <td><div class="badge badge-info">Dirección:</div> <%= @cook.address %></td>
      </tr>
      <tr>
        <td align="center"><%= @cook.address_region %></td>
        <td align="center"><%= @cook.address_city %></td>
        <td align="center"><%= @cook.address_commune %></td>
      </tr>
    </thead>
  </table>
  <% end %>
  <!-- _________ -->
  <% if @orders.count > 0 %>
    <table class="table table-striped" id="myTable">
      <thead>
        <tr>
          <th>Menú</th>
          <th>Cantidad</th>
          <th>Valor</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.eager_load(:menu).each do |order| %>
          <tr>
            <td> <%= order.menu.name %> </td>
            <td align="right"> <%= order.quantity %> </td>
            <td align="right"> <%= number_to_currency(order.price, separator: ',', delimiter: '.', precision: 0) %></td>
            <td align="right"> <%= number_to_currency(order.menu.price * order.quantity, separator: ',', delimiter: '.', precision: 0) %></td>
            <th scope="row">
              <%= link_to order_path(order), method: "delete", class: "btn btn-danger d-block" do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              <% end %>
            </th>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="table bg-light">
          <td colspan="4"><strong>Total de la compra:</strong></td>
          <td align="right"><strong><%= number_to_currency(@total , separator: ',', delimiter: '.', precision: 0) %></strong></td>
        </tr>
      </tfoot>
    </table>
    <div class="mt-3 row">
      <div class="offset-sm-1 col-sm-3">
        <%= link_to 'Limpiar carro', clean_orders_path, class: 'btn btn-outline-danger'  %>
      </div>
      <% unless @cook.nil? %>
        <div class="offset-sm-1 col-sm-3">
          <%= link_to "Volver", cook_path(@cook), class: 'btn btn-outline-info' %>
        </div>
      <% end %>
      <div class="offset-sm-1 col-sm-3">
        <%= link_to 'Confirmar compra', '#', id:'find-address', class: 'btn btn-outline-success'  %>
      </div>
    </div>
  <% else %>
    <div class="row jumbotron mt-5">
      <div class="col-md-12">
          <p>No tienes productos en tu carro de compra.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= link_to "Volver", root_path, class: 'btn btn-outline-info' %>
      </div>
    </div>
  <% end %>
</section>

<!--  SCRIPT GEOCODER -->

<script>
    $("#find-address").click(function(event) {
      $(this).html('<i class="fa fa-spinner fa-spin"></i>');
      event.preventDefault();
      if (navigator.geolocation){
        navigator.geolocation.getCurrentPosition(getAddress);
      } else {
        x.innerHTML = "Geolocation is not supported by this Browser.";
      }
    });

    function getAddress(position){
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      $.ajax({
        url: '/geocoder/findaddress',
        type: 'GET',
        dataType: 'script',
        data: {latitude: latitude, longitude: longitude}
      })
      .done(function() {
        console.log("success");
      })
      .fail(function() {
        console.log("error");
      })
      .always(function() {
        console.log("Completed");
        $("#find-address").html('Confirmar compra');
      });
    }
</script>
