<!-- menú de navegación -->
<%= render 'shared/navbar' %>

<section class="slider">
  <!-- Jumbotron -->
  <div class="jumbotron mt-5 rounded-0 bg-transparent">
    <div class="container">

      <% if user_signed_in? %>
        <div class="row mt-5">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex flex-row justify-content-center">
            <div class="lead">
              <% if current_user.role == "admin" %>
              <a href="<%= new_admin_user_session_path %>">
                <%= image_tag current_user.picture.thumb, class:'access_icon' %>
              </a>
              <% else %>
                <a href="<%= edit_user_registration_path(current_user) %>">
                  <%= image_tag current_user.picture.thumb, class:'access_icon' %>
                </a>
              <% end %>
            </div>
          </div>
          <% if current_user.cook == true %>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex flex-row justify-content-center">
              <div class="lead">
                <a href="<%= menus_path %>">
                  <%= image_tag "logo-02.svg", class:'access_icon' %>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <h1 class="display-3 text-center">La tía.cl!</h1>
      <p class="lead text-white text-center">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p class="lead d-flex flex-row justify-content-center">
        <a data-scroll href="#cocineros" role="button" class="btn btn-primary btn-lg">Ver cocineros</a>
      </p>
    </div>
  </div>
  <!-- Fin Jumbotron -->
</section>

<!-- Cards -->
<section id="cocineros" class="container mt-5">
  <div class="row">
    <% @cooks.each do |cook| %>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="card mt-3">
        <%= image_tag cook.picture, class: 'card-img-top img-fluid' %>
        <div class="card-body">
          <a class="btn btn-default" data-toggle="collapse"
    				 href="#collapseBiography<%= cook.id %>"
    				 aria-expanded="false" aria-controls="collapseExample">
    				 <h5 class="card-title"><%= cook.name[0,25]%> <i class="fa fa-caret-down" aria-hidden="true"></i></h5>
          </a>
          <div class="collapse" id="collapseBiography<%= cook.id %>">
    				<p><%= cook.biography[0,100] %></p>
    			</div>
          <p> <%= cook.address_commune[0,20] %></p>
          <p> <%= cook.address_region[0,20] %></p>
        </div>
        <div class="card-footer d-flex flex-row justify-content-center">
          <%= link_to("Ver menú", cook_path(cook), class:"btn btn-outline-primary mr-2" ) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</section>
<!-- Fin Cards -->

<!-- SmoothScroll -->
<script>
  var scroll = new SmoothScroll('a[href*="#"]',{
  });
</script>
<!-- Fin SmoothScroll -->
